@import "./reset.css";
@import "./var.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* * {
    border: 1px solid red;
} */

:root {
  --blackpure: #000;
  --black: #171718;
  --black-border: #26292D;
  --white: #fff;
  --purple: #5C62EC;

  --text-color: var(--black);

  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);

  /* Light mode */
  --page-bg: var(--white);
  --text-color: var(--black);

  --title-1: var(--accent);

  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
  /* Dark mode */
  --page-bg: #252526;
  --text-color: var(--white);

  --title-1: var(--white);

  --project-card-bg: var(--black);
  --project-card-text: var(--white);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.5px;

  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
  scroll-behavior: smooth;
}

/* General */

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.none {
  display: none !important;
}

.section {
  padding: 70px 0;
}

.title,
.title-1 {
  margin-bottom: 60px;

  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
}

.title {
  animation: animate 3.5s linear;
}

@keyframes animate {

  0% {
    font-size: 7px;
    opacity: 0.2;
  }

  100% {
    font-size: 60px;
    opacity: 1;
  }
}

.typed-out__box {
  display: inline-block;
  margin-bottom: 20px;
}

.typed-out {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation:
    typing 2s steps(20, end) forwards;
  animation-delay: 4s;
}


@keyframes typing {
  from {
    width: 0;
    border-right: .15em solid orange;
  }

  /* 10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  {
  border-right: 0px;
}

5%,
15%,
25%,
35%,
45%,
55%,
65%,
75%,
85%,
95% {
  border-right: 3px;
} */

  99% {
    border-right: .15em solid orange;
  }

  to {
    width: 100%;
  }
}

/* Nav */

.nav {
  padding: 20px 0;
  border-bottom: 1px solid var(--dark-border);
  background-color: var(--dark-bg);
  color: var(--header-text);
  letter-spacing: normal;
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  margin-right: auto;
  color: var(--header-text);
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.logo strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  column-gap: 40px;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.nav-list__link {
  color: var(--header-text);
  transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
  opacity: 0.8;
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  content: "";

  position: absolute;
  left: 0;
  top: 100%;

  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}

/* Dark mode btn */

.dark-mode-btn {
  order: 9;

  position: relative;
  display: flex;
  justify-content: space-between;

  width: 51px;
  height: 26px;
  padding: 5px;

  border-radius: 50px;
  background-color: #272727;
}

.dark-mode-btn::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 1px;

  display: block;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  background-color: var(--white);

  transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
  left: 26px;
}

.dark-mode-btn__icon {
  position: relative;
  z-index: 9;
}

.first-of-type {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: showup 7s;
}

.last-of-type {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  animation: reveal 7s;
}

.last-of-span {
  margin-left: -355px;
  animation: slidein 7s;
  animation: stoped infinite;
}

.nav-list__item {
  font-weight: bolder;
  -webkit-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.02em;
  background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(135deg, #fff 0%, #fff 100%, transparent 100%);
  background-size: 0 100%;
  -webkit-background-size: 0 100%;
  transition: all 1s ease-in-out;

}

.nav-list__item:hover {
  background-size: 230% 100%;
  -webkit-background-size: 230 100%;
}

/* Header */

.header {
  /* padding: 40px 0; */
  position: relative;
  width: 100vw;
  height: calc(100vh - 76px);
  /* max-height: 720px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
  background-color: var(--dark-bg);
  background-image: url('./../img/header-bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  color: var(--header-text);
}

.header__wrapper {
  position: relative;
  z-index: 10;
  align-self: center;
  text-align: center;
  width: 100%;
}

/* .header:nth-child(2) {
  justify-self: center;
}

.header:nth-child(3) {
  justify-self: flex-end;
} */

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 76px);
  object-fit: cover;
}

.prev__arrow-link {
  display: flex;
  align-self: flex-end;
  z-index: 5;
  outline: 1px solid transparent;
  max-height: 97px;
  transition: all 0.3s ease-in;
}

.prev__arrow-link svg {
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  transition: background-color, color, stroke, outline-color, outline-offset 0.3s ease-in;
}

.prev__arrow-link svg:hover {
  color: #000;
  background-color: #fff;
  transition: background-color 0.3s ease-in;
}

.prev__arrow-link:focus {
  outline-color: var(--main-color);
  outline-offset: 1px;
}

.prev__arrow-link svg:active {
  color: #fff;
  background-color: var(--main-color);
}

.prev__arrow-link:active circle {
  stroke: var(--main-color);
}

.header__title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
}

.header__title strong {
  font-size: 60px;
  font-weight: 700;
}

.header__title em {
  font-style: normal;
  color: var(--accent);
}

.header__text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.333;
}

.header__text p+p {
  margin-top: 0.5em;
}

/* Btn */

.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;

  border-radius: 5px;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;

  transition: opacity 0.2s ease-in;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  position: relative;
  top: 1px;
}

/* Btn outline */

.btn-outline {
  display: flex;
  column-gap: 10px;
  align-items: center;

  height: 48px;
  padding: 12px 20px;

  border-radius: 5px;
  border: 1px solid var(--blackpure);
  background-color: var(--white);
  color: var(--blackpure);

  transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
  opacity: 0.8;
}

.btn-outline:active {
  position: relative;
  top: 1px;
}

/* Projects  */

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
  margin-bottom: 30px;
}

.project {
  max-width: 370px;
  background-color: var(--project-card-bg);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.project__box {
  width: 370px;
  height: 100%;
  border: #5C62EC solid;
  border-radius: 13px;
}

.project__box:hover .project__img {
  animation: rotate 2s ease;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}


.project__link-img {
  position: relative;

}

.project__img {
  border-radius: 10px;
  width: 100%;
  height: 278px;
}


.plashka {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 0;
}

/* .plaska {
  position: absolute;

  z-index: 10;
} */

.project__img:hover {
  background-color: #5C62EC;
  /* transition: all 0.3s; */
  z-index: 5;
}

.name-project {
  display: flex;
  justify-content: space-between;
}


.project__title {
  padding-left: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 2.3;
  color: var(--project-card-text);
}

.project__title:hover {
  color: #5C62EC;
  transition: all 0.3s;
}


.github__link-icon {
  width: 87px;
  height: 50px;
  border-radius: 10px;
}

/* Project details */

.project-details {
  margin: 0 auto;
  max-width: 865px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;

  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.project-details__desc {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

/* Content list */

.content-list {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  text-align: center;
}

.content-list a {
  color: var(--accent);
}

.content-list__item {
  font-size: 18px;
  line-height: 1.5;
}

.content-list__item p+p {
  margin-top: 0.5em;
}

/* Footer */

.footer {
  margin-top: auto;
  padding: 60px 0 50px;
  background-color: var(--dark-bg);
  color: var(--header-text);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}

.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.copyright {
  font-size: 16px;
}

.copyright p+p {
  margin-top: 0.5em;
}


.contacts-list {
  padding-left: 20%;
}

.contacts-list__item {
  line-height: 45px;
}

.address__text {
  color: #5C62EC;
  font-size: 20px;
  line-height: 40px;
}